<div class="flex flex-row justify-around m-4 p-2 gap-2 rounded-4xl  items-center ">
    <input class="m-1 p-2 px-4 border-2 border-gray-400 rounded-xl grow" [(ngModel)]="newAppointmentTitle" type="text" placeholder="Description"/>
    <input class="m-1 p-2 px-4 border-2 border-gray-400 rounded-xl"[(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date">
    <button class="p-2 px-4 bg-gray-300 rounded-full shadow-2xl" (click)="addAppointment()">Add</button>
</div>

<div *ngIf="appointments.length === 0" class="m-4 p-4 text-center text-gray-700">
    No items are there.Please add some appointments.
</div>
<ul *ngIf="appointments.length > 0" class="flex flex-col gap-2 m-4 p-4 rounded-2xl bg-gradient-to-br from-gray-200 to-gray-400">
    <li class="text-2xl text-gray-700 font-bold bg-white px-4 rounded-full"
        *ngFor="let appointment of appointments; index as i">
        {{appointment.id}}  |  {{appointment.title}}  | {{appointment.date | date:'dd MM yyyy'}} 
        <button class="px-4 m-1 rounded-full text-white text-sfont-light  bg-red-400" (click)="removeAppointment(i)">Delete</button>
    </li>
</ul>